:root {
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.condiv {
  padding: 6.25rem;
  background-color: #ADD8E6;
  flex: var(--condiv-flex);
  overflow: auto;
}

@media screen and (max-width: 48rem) {
  .condiv {
    padding: 2rem;
  }
}

@media screen and (max-width: 64rem) and (min-width: 49rem) {
  .condiv {
    padding: 4rem;
  }
}

.social {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Set a background color if needed */
  padding: 0.625rem;
  z-index: 999; /* Set a higher z-index to ensure the icons appear above other elements */
}

.social a {
  margin: 0 0.625rem;
  text-decoration: none;
  color: #9a9b9c;
  transition: 0.3s ease-in;
  font-size: 2.0em; /* Adjust the font size as needed */
}

.social a:hover {
  color: #333;
  font-size: 2.0em; /* Adjust the font size on hover if desired */
}

@media screen and (max-width: 48rem) {
  .App {
    flex-direction: column;
  }

  .condiv {
    padding: 3.125rem;
    flex: var(--condiv-flex);
  }

  .social {
    flex: 1;
  }

  .social a {
    font-size: 1.5em;
  }
}


